html {
  text-align: center;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

footer {
  text-align: center;
  position:static;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 60px;
  margin-top: 100px;
}

#root {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 100%;
}

.navbar {
  background-color: rgba(128, 128, 128, 0.09);
  position: relative;
}

/* SURVEY SCREEN  */

.alert-dialog{
  margin: 10px;
}

.delete-survey{
  margin: 10px auto;
}

.survey-screen {
  margin: 50px 25px;
}

.survey-screen h1 {
  margin-bottom: 50px;
}

.surveys-row {
  justify-content: center;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.surveys-row button {
  margin: 0px 10px;
}

.survey-card {
  margin-bottom: 20px;
}

/* SINGLE SURVEY SCREEN */

.single-survey {
  margin: 50px auto;
}

.css-e53awj-MuiStack-root {
  justify-content: center;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.choice-radio {
  align-content: center;
}

.survey-question {
  margin: 10px 0;
}

/* CREATE SURVEY SCREEN */

.create-buttons {
  margin-bottom: 10px;
}

.add-button {
  margin-bottom: 10px;
}

.surveys-row {
  margin: 10px;
}

.title-input {
  width: 80%;
  margin: auto;
}

.question-input {
  border: solid;
  border-radius: 10px;
  border-color: rgba(128, 128, 128, 0.299);
  width: 80%;
  margin: 20px auto;
}

.add-option-control {
  margin-top: 50px;
}

.question {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.question h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.question p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.question button {
  position: relative;
  margin-right: 10px;
  height: 36px;
  cursor: pointer;
  border: none;
}

.input-row {
  justify-content: center;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.input-col {
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}

/* PROFILE SCREEN */

.profile-screen {
  margin-top: 50px;
}

.save-button {
  margin: 10px;
}

/* REGISTER SCREEN */

.register-button {
  margin: 10px;
}

/* LOGIN SCREEN */

.login-button {
  margin: 10px;
}

.App h1{
  margin: 50px 25px;

}
